.back-button {
    padding: 5px 16px;
    /*font-size: 1rem;*/
    border: 1px solid #bbb;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 0.85rem;
    color: #555;
    font-weight: 300;
}